{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
            <div class="col-md-6 form">
                <div class="mb-4">
                    {{ form_row(form.title) }}
                </div>
                {{ form_row(form.content) }}
            </div>

            <button type="submit" class="btn mt-4 btn-success pull-right">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
