{% extends 'base.html.twig' %}

{% block body %}
    <div class="container flex-grow-1">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h1 class="h3 mb-5 fw-bold">Oups !</h1>
                        <div class="alert alert-danger fw-bold">
                            Vous n'avez pas accès à cette page.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}